# Gradle
.gradle/
build/

# Eclipse
.settings/
.classpath
.project

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
bin/

# Mod dev
run/
logs/

# Other
docs/
claude-notes/
Claude/
Aseprite/